@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Source+Sans+Pro:wght@200&display=swap');


/* Color Palette: */
:root {
	--eerie-black: #222222ff;
	--davys-grey: #5a5a5aff;
	--ou-crimson-red: #811111ff;
	--rosso-corsa: #e00000ff;
	--candy-pink: #ee6d6dff;
	--white: #ffffffff;
}
/* 
	Fonts:

	font-family: 'Roboto', sans-serif;
	font-family: 'Source Sans Pro', sans-serif;
*/

/* General */
body {
	background-color: var(--eerie-black);
	color: var(--white);
	font-family: "Roboto", sans-serif;
	display: flex;
}

img {
	border: hidden;
	border-radius: 5px;
}

/* Sidebar */
#sidebar {
	/* display: flex; */
	flex-direction: column;
	flex: 1 1 auto;

	padding: 1em;

	border: 1px var(--ou-crimson-red);
	border-style: hidden solid;
}

h1 {
	text-align: center;
	font-size: 3em;

	border: 1px var(--ou-crimson-red);
	border-style: solid hidden;

	padding: 0.5em;
}

/* Navbar */
nav {
	width: 80%;
	margin: auto;
	border: 1px var(--ou-crimson-red);
	border-style: solid hidden;
	font-family: 'Source Sans Pro', sans-serif;
	text-align: center;
}

nav ul {
	padding: 0;
}

nav li {
	display: block;
	padding: 0;
}

/* Main body */
main {
	/* display: flex; */
	/* flex-direction: column; */
	flex: 5 5 auto;

	margin-left: 10%;
	padding: 1%;

	border: 1px var(--ou-crimson-red);
	border-style: hidden solid;
}

main img {
	display: block;
	width: 70%;
	margin: auto;
}